*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f3f6;
}
.head{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin-bottom: 15px;
}
.sps{
    min-width: 124px;
}
.head-cont{
    width: 100%;
    display: flex;
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(23, 56, 245);
    justify-content: space-between;
    padding: 12px 28px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.flip{
    width: 77px;
    height: 20px;
}
.flip-contain{
    justify-content: flex-end;
    min-width: 137px;
    display: flex;
}
.explore{
    color: white;
}
.plus{
    color: yellow;
}
.flipcart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ser-search{
    width: 100%;
}
.form1{
    width: 100%;
    padding-left: 10px;
}
.search{
    display: inline-block;
    width: 50%;
    height:40px;
    position: relative;
    border-radius: 3px;
    background-color: #f0f5ff;
}
.sec{
    height: 25px;
    margin: 6px;
    background-color: transparent;
    border: 0px;
    float: right;
}
.ser-value{
    display: inline-block;
    width: 50%;
    height: 20px;
    margin-top: -20px;
    position: relative;
}
.values{
    display: inline-block;
    position: absolute;
    border: 0px;
    background-color: transparent;
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px ;
}
.log{
    width: 140px;
}
.btn-name{
    color: white;
}
.log-btn{
    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.modal-dialog{
    max-width: 700px;
    margin: 10px auto;
}
.modal-content{
    min-width: 400px;
    max-width: 100%;
}
.modal-header{
    height: 400px;
}
.modal-log{
    background-color: white;
    height: 100%;
    width: 100%;
    display: inline-flex;
}
.log-content{
    width: 40%;
    background-color: #3535df;
    height: 100%;
    color: white;
    padding: 40px 33px;
    font-size: 15px;
}
.log-span{
    font-size: 28px;
    font-weight: 500;
}
.log-p{
    font-size: 18px;
    margin-top: 16px;
    line-height: 150%;
    color: #dbdbdb;
}
.login-inf{
    width: 60%;
    padding: 25px 30px 10px 25px;
}
.text{
    position: relative;
    margin-bottom: 34px;
    font-size: 16px;
}
.info-value{
    padding: 8px 10px 10px 0;
    width: 100%;
    color: #000;
    font-size: inherit;
    background: #fff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}
.info-text{
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
}
.terms{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
}
.otp{
    margin-top: 20px;
}
.otp-btn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    background: orangered;
    border: none;
    color: white;
}
.new-ac{
    padding: 40px;
    text-align: center;
}
.load{
    justify-content: center;
    display: flex;
}
/* loading screen */
.loading {
    position: fixed;
    width: 50%;
    height: 50%;
    background-color: transparent;
    display: contents;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.cart-body{
    max-width: 1200px;
    margin: 0 auto;
}
.cart-list{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 8px;
}
.item-list{
    text-align: center;
    padding: 30px;
    background: #ffffff;
}
.emt{
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
}
.missing{
    display: block;
    font-size: 18px;
    margin: 24px;
}
.footer{
    margin-top: 25px;
    border-top: 1px solid #ddd;
}
.foot{
    width: 90%;
    margin: 0 auto;
    padding: 25px;
    color: #565656;
}
.left-cont{
    color: #565656;
    padding: 0 5px;
    border-right: 1px solid #878787;
}
.foot-copy{
    padding-left: 20px;
}
@media (max-width: 1300px) {
    .cart-body{
        margin: 0 40px;
    }
    .sps{
        display: none;
    }
    .ser-img{
        background-color: #f0f5ff;
    }
    .values{
        padding-right: 40px;
    }
    .foot-left{
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    .modal-dialog{
        margin: 10px 40px;
    }
}
@media (max-width: 600px) {
    .modal-content{
        min-width: 0;
        max-width: 100%;        
    }
    .form1{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 10px;
    }
    .foot-left{
        font-size: 5px;
    }
    .log-span{
        font-size: 20px;
    }
    .log-p{
        font-size: 10px;
    }
    .text{
        font-size: 10px;
        margin-bottom: 20px;
    }
    .otp-btn{
        height: 30px;
    }
    .new-ac{
        font-size: 12px;
        padding: 20px;
    }
}
@media (max-width: 400px) {
    .search{
        width: 44%;
        font-size: 11px;
    }
    .log-content{
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .modal-log{
        display: inline;
    }
    .login-inf{
        width: 100%;
    }
}
