*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}
.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    padding: 12px 28px;
    box-sizing: border-box;
}
.form .ser-search{
    width: 100%;
}
.search{
    display: inline-block;
    width: 50%;
    height:40px;
    position: relative;
    border-radius: 8px;
    background-color: #f0f5ff;
}
.sec{
    height: 25px;
    margin: 6px;
    background-color: transparent;
    border: 0px;
}
.ser-value{
    display: inline-block;
    width: 50%;
    height: 20px;
    margin-top: -20px;
    position: relative;
}
.values{
    display: inline-block;
    position: absolute;
    border: 0px;
    background-color: transparent;
    font-size: 17px;
    width: 50%;
    margin-top: 10px;
}
.hh{
    width: 30%;
    height: 40px;
    display: inline-block;
    position: absolute;
    padding-top: 10px;
}
.log{
    width: 90px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    justify-content: space-between;
    text-decoration: none;

}
.login{
    width: 22%;
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.cartit{
    width: 70px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    justify-content: space-between;
    text-decoration: none;
}
.cart{
    width: 20%;
    display: inline-block;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.shopit{
    width: 160px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    justify-content: space-between;
    text-decoration: none;
}
.shop{
    width: 25%;
    display: inline-block;
    align-items: center;
    padding: 0 13px; 
    cursor: pointer;
}
.bg-color{
    background-color: #eeeef3;
    padding-top: 8px;
    padding-bottom: 8px;
}
.content{
    justify-content: center;
    margin: 0px 16px;
}
.category{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    z-index: 10000;
    min-height: 128px;
    color: #111112;
    background-color: #fff;
    margin-bottom: 16px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}
.cate-loc{
    /* min-width: 90px; */
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    box-sizing: content-box;
}
.center{
    text-align: center;
    margin-bottom: 10px;

}
.offer-name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.offers{
    margin: auto;
}
.carousel{
    padding-bottom: 16px;
}
.footer{
    background-color: rgb(0, 0, 0);
    color: #eeeef3;
}
.best{
    overflow-x: auto;
    white-space: nowrap;
}
.bst{
    background-color: #ffffff;
    padding: 16px 16px;
    overflow-x: auto;
}
.best-name{
    color: rgb(30, 30, 30);
    background-color: #ffffff;
    display: inline;
    width: 100%;
    border: 0px;
    font-size: 22px;
    font-weight: bold;
}
.bst2{
    width:100%;
    background-color: #ffffff;
    padding: 16px 16px;
    overflow-x: auto;
    white-space: nowrap;
}
.o1{
    width: 85%;
    display: inline-block;
}
.category2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    z-index: 10000;
    min-height: 128px;
    color: #111112;
    background-color: #fff;
    margin-bottom: 16px;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}
.ubn{
    width: 14%;
    display: inline-block;
    margin-left: 10px;
}
.span{
    color: black;
}
.span-name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.span-rs{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
}
.best-1{
    width: 100%;
    display: inline-flex;
}
.splw{
    width: 31%;
}
.spl{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    padding-right: 16px;
}
.spl-card{
    display: inline-flex;
    flex-wrap: wrap;
}
.card{
    display: inline;
    width: 46%;
    margin: 7px;
}
.cardbody{
    margin-left: 5px;
    min-height: 1px;
    display: flex;
    flex-direction: column;
}
.card-img{
    padding: 15px;
}
.imgs{
    width: 69%;
}
.card1{
    padding: 15px;
}
.card-text{
    font-weight: 600;
}
.card-price{
    font-weight: 700;
    color: green;
}
.foot-info{
    display: grid;
    padding: 40px 60px 0;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}
.about{
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}
.footcolor{
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
}
.footp{
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0px;
}
.footflip{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media(max-width:1500px){
    .phone{
        visibility: hidden;
        display: none;
    }
    .nos{
        justify-content:left;
    }
    .ubn{
        visibility: hidden;
        display: none;
    }
    .o1{
        width: 100%;
    }
    .best-1{
        display: inline-block;
    }
    .spl{
        padding-right: 0px;
    }
    .splw{
        width: 100%;
    }
    .spl-card{
        display: inline-flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .category{
        overflow: auto;
        white-space: nowrap;
    }
    .category2{
        overflow: auto;
    }
    .best{
        overflow: auto;
    }
    }

    @media(max-width:1100px){
        .hh-name{
            display: none;
        }
        .wid{
            width: 25px;
        }
    }
 @media (max-width: 768px) {
    .header{
        padding: 12px 18px;
    }
    .foot-info{
        padding: 15px 30px 0;
    }
    .about{
        font-size: 8px;
    }
    .footcolor{
        font-size: 6px;
        line-height: 8px;
    }
    .footp{
        font-size: 6px;
        line-height: 8px;
    }
    .search{
        width: 30%;
    }
    .hh{
        width: 35%;
        float: right;
        position: relative;
    }
 }
    

@media (max-width: 600px) {
    
    .padd{
        padding-left: 10px;
    }    
    .search{
        display: none;
    }
    .foot-info{
        padding: 15px 30px 0;
    }
} 
